@use '../settings' as *;

#sudoku {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;

    #sudokuForm {
        max-width: 450px;
        flex-shrink: 0;
    
        #inputs{
            display: grid;
            margin-left: auto;
            margin-right: auto;
            grid-template-columns: repeat(9, 1fr);
            grid-template-rows: repeat(9, 1fr);
            border: 1px solid $light;

            .sudokuSlot {
                border: 2px solid $dark;
                -moz-appearance: textfield;
                height: 50px;
                width: 50px;
                text-align: center;
                font-size: 30px;
            }

            .sudokuSlot:out-of-range {
                background-color: red;
            }

            .red_input {
                background-color: red;
            }

            .correct {
                color: rgb(37, 206, 37);
            }
    
            .sudokuSlot::-webkit-outer-spin-button, .sudokuSlot::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        .checkIsTrue {
            -webkit-animation: checkTrueShadow 2s;
            animation: checkTrueShadow 2s;

            @keyframes checkTrueShadow {
                0% {box-shadow: none}
                30% {box-shadow: 0px 0px 20px 15px rgb(57, 231, 57);}
                60% {box-shadow: 0px 0px 20px 15px rgb(57, 231, 57);}
                100% {box-shadow: none}
            }
        }

        .checkIsFalse {
            -webkit-animation: checkFalseShadow 0.65s;
            animation: checkFalseShadow 0.65s;
            animation-iteration-count: 3;

            @keyframes checkFalseShadow {
                0% {box-shadow: none}
                25% {box-shadow: 0px 0px 20px 15px rgb(206, 26, 26);}
                75% {box-shadow: 0px 0px 20px 15px rgb(206, 26, 26);}
                100% {box-shadow: none}
            }
        }

        .inputs_side_color {
            background-color: $maxlight;
        }

        .inputs_normal_color {
            background-color: white;
        }

        .sudokuDone {
            box-shadow: 0px 0px 20px 15px rgb(57, 231, 57);
        }
    
        #formButtons {
            max-width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
            flex-wrap: wrap;
            gap: 15px;

            button {
                i   {
                    vertical-align: top;
                }
                align-items: center;
                height: 35px;
                width: 100px;
                border-radius: 6px;
                font-size: 18px;
                font-weight: 600;
                transition: transform .3s;
                border: none;
            }
        
            button:hover {
                transform: scale(1.2);
            }

            #submitButton {
                color: $dark;
                background-color: $verylight;
            }

            #resetButton {
                color: $verylight;
                background-color: $dark;
                border: 3.5px solid $verylight;
            }

            #checkButton {
                color: white;
                background-color: rgb(26, 190, 97);
            }

            #clearButton {
                color: white;
                background-color: rgb(203, 20, 20);
            }
        } 
        #wrongContainer {
            position:relative;
            display: flex;
            align-items: center;
            justify-content: center;
            #wrongSudoku {
                max-width: 80%;
                padding: 5px 5px;
                background-image: linear-gradient(45deg, rgb(206, 35, 35),rgb(236, 15, 15));
                box-shadow: 2px 3px #770e0e;
                position:absolute;
                bottom: 150px;
                border-radius: 20px;
                font-size: 15px;
                color:white;
            }
        }     
    }   
}


@media (max-width: 950px) and (min-width: 781px) {
    #sudoku {
        height: auto;
        flex-direction: column;
        gap:70px;

        #sudokuForm {
            max-width: min(630px, 90vw);
            margin: 0 auto;

            #inputs{    
                .sudokuSlot {
                    max-width: 70px;
                    max-height: 70px;
                    height: 9vw;
                    width: 9vw;
                    font-size: 50px;
                }
            }
        
            #formButtons {
                padding: 30px 0;

                button {
                    height: 50px;
                    width: 160px;
                    border-radius: 20px;
                    font-size: 25px;
                }
            }

            #wrongContainer {
                #wrongSudoku {
                    bottom: 250px;
                    font-size: 15px;
                }
            }
        }
    }
}

@media (max-width: 780px) and (min-width: 481px) {
    #sudoku {
        height: auto;
        flex-direction: column;
        gap:40px;
    
        #sudokuForm {
            max-width: min(630px, 90vw);
            margin: 0 auto;

            #inputs{    
                .sudokuSlot {
                    max-width: 70px;
                    max-height: 70px;
                    height: 10vw;
                    width: 10vw;
                    font-size: 45px;
                }
            }
        
            #formButtons {
                padding: 30px 0;

                button {
                    height: 50px;
                    width: 160px;
                    border-radius: 20px;
                    font-size: 25px;
                }
            }

            #wrongContainer {
                #wrongSudoku {
                    bottom: 250px;
                    font-size: 15px;
                }
            }
        }
    }
}

@media (max-width: 480px) and (min-width:351px) {
    #sudoku {
        height: auto;
        flex-direction: column;
        gap:40px;
    
        #sudokuForm {
            max-width: 90vw;
            margin: 0 auto;

            #inputs{    
                .sudokuSlot {
                    height: 10vw;
                    width: 10vw;
                    font-size: 25px;
                }
            } 
            #formButtons {
                button {
                    i   {
                        vertical-align: top;
                    }
                    align-items: center;
                    height: 35px;
                    width: 100px;
                    border-radius: 15px;                 
                    font-size: 18px;
                }
            }
        }
    }
}


@media (max-width: 350px) {
    #sudoku {
        height: auto;
        flex-direction: column;
        gap:60px;
    
        #sudokuForm {
            max-width: 90vw;
            margin: 0 auto;

            #inputs{    
                .sudokuSlot {
                    height: 10vw;
                    width: 10vw;
                    font-size: 20px;
                }
            }  

            #formButtons {
                button {
                    i   {
                        vertical-align: top;
                    }
                    align-items: center;
                    height: 30px;
                    width: 90px;
                    border-radius: 12px;                 
                    font-size: 15px;
                }
            }
        }
    }
}