@use '../settings' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');

@keyframes fingerAnimation {
    0% {bottom: 2%}
    15% {bottom: 6%}
    30% {bottom: 4%}
    45% {bottom: 6%}
    60% {bottom: 2%}
    100% {bottom: 2%}
}

#home {
    font-family: 'Montserrat', sans-serif;

    #intro {
        height: 100vh;
        background-image: linear-gradient(to bottom, rgba(2, 12, 24, 0,) 50%,rgb(4, 19, 35) 100%);
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 90px;

        img {
            z-index: -10;
            position: absolute;
            height: calc(100% + 150px);
            width:100%;
            object-fit: cover;
            top: -150px;  
        }
    
        h1 {
            padding-top: 50px;
            color: $maxlight;
            text-align: center;
            font-size: 75px;
        }

        h3 {
            span {
                color: $maxlight;
            }
            font-size: 45px;
            text-align: center;
            max-width: 60%;
            margin: 0 auto;
            color: white;
        }

        #fingerDiv {
            position: absolute;
            bottom: 2%;
            left:50%;
            animation-name: fingerAnimation;
            animation-duration: 3s;
            animation-iteration-count: infinite;

            text-align: center;
            i {
                position: relative;
                left: -50%;
                color:white;
                font-size: 40px;
            }
        }

        .scrolled {
            visibility: hidden;
        }
    }

    #main {
        display: block;
        background-color: $darkbg;
        font-family: 'Montserrat', sans-serif;

        h3 {
            text-align: center;
            max-width: 30%;
            margin: 0 auto 30px;
            color: white;
            font-size: 25px;
        }
    }

    #about {
        display:block;
        color : white;
        background-color: $darkbg;

        h2 {
            text-align: center;
            font-size: 30px;
            span {
                display:block;
                color: $verylight
            }
        }
        h3 {
            text-align: center;
            color: $maxlight;
            font-size: 25px;
            font-style: italic;
        }

    }
    .reveal-Y{
        position: relative;
        transform: translateY(100px);
        opacity: 0;
        transition: 1s all ease;
    }

    .reveal-X{
        position: relative;
        transform: translateX(100px);
        opacity: 0;
        transition: 1s all ease;
    }

    .reveal-X.active, .reveal-Y.active{
        position: initial;
        transform: translateY(0);
        transform: translateX(0);
        opacity: 1;
    }

}

@media (max-width: 1440px) and (min-width: 951px) {
    #home {    
        #intro {           
            h1 {
                font-size: 65px;
            }
    
            h3 {
                font-size: 40px;
                max-width: 70%;
            }
        }
    
        #main {    
            height: 100%;
            h3 {
                padding-top: 50px;
                max-width: 70%;
                margin: 0 auto 50px;
                font-size: 35px;
            }
        }
    
        #about {      
            padding-top: 100px;  
        }
    }
}

@media (max-width: 950px) and (min-width: 781px) {
    #home {    
        #intro {    
            img {
                object-position: 40% 0;
            }
        
            h1 {
                font-size: 65px;
                padding-bottom: 20px;
            }
    
            h3 {
                font-size: 35px;
                max-width: 70%;
            }
        }
    
        #main {    
            height: 100%;
            h3 {
                padding-top: 50px;
                max-width: 70%;
                margin: 0 auto 50px;
                font-size: 30px;
            }
        }
    
        #about {    
            padding-top: 100px;
            h2 {
                font-size: 30px;
            }
            h3 {
                font-size: 28px;
            }
    
            #list_contact {
                max-width: 80%;
            }
        }
    }
}

@media (max-width: 780px) and (min-width: 481px) {
    #home {    
        #intro {   
            gap: 50px; 
            img {
                object-position: 35% 0;
            }
        
            h1 {
                padding-top: 100px;
                padding-bottom: 20px;
                font-size: 50px;
            }
    
            h3 {
                font-size: 30px;
                max-width: 70%;
            }
        }
    
        #main {    
            height: 100%;
            h3 {
                padding-top: 50px;
                max-width: 70%;
                margin: 0 auto 50px;
                font-size: 30px;
            }
        }
    
        #about {    
            padding-top: 100px;
            h2 {
                font-size: 28px;
            }
            h3 {
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 480px) and (min-width:351px) {
    #home {    
        width: 100vw;
        #intro {
            gap: 60px; 
            img {
                object-position: 35% 0;
            }

            h1 {
                padding-bottom: 0;
                font-size: 45px;
            }
    
            h3 {
                font-size: 25px;
                max-width: 80%;
            }
        }

        #main {
            height: 100%;
    
            h3 {
                max-width: 80%;
                padding-top: 50px;
                font-size: 23px;
            }
        }

        #about {
            padding-top: 75px;
            h2 {
                font-size: 25px;
            }

            h3 {
                font-size: 22px;
            }
        }
    }
}

@media (max-width: 350px) {
    #home {    
        width: 100vw;
        #intro {
            gap: 40px; 
            img {
                object-position: 30% 0;
            }

            h1 {
                padding-bottom:0;
                font-size: 35px;
            }
    
            h3 {
                font-size: 25px;
                max-width: 80%;
            }
        }

        #main {
            height: 100%;
    
            h3 {
                max-width: 80%;
                padding-top: 50px;
                font-size: 20px;
            }
        }

        #about {
            padding-top: 50px;
            h2 {
                font-size: 20px;
            }

            h3 {
                font-size: 17px;
            }
        }
    }
}