//Colors
$darkbg : rgb(4, 19, 35);
$dark : #052345;
$normal : #07457D;
$light: #0180BC;
$verylight: #5EDFFC;
$maxlight: #A5EEFF;

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
    padding: 0;
    margin: 0; 
    //border: 1px solid red;
}

button, a {
    cursor: pointer;
}